{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<form class="form-signin" method="post" action="{% url 'login' %}"> {% csrf_token %}
  <h2>LOGIN</h2><br>
  <div class="text-left">Utilizador</div>
  {{ form.username }}
  <p class="nameErr text-danger text-left"></p>
  <br><div class="text-left">Senha</div>
  {{ form.password }}
  <br><div class="fluid-container">
    <div class="row">
      <div class="col-md-6">
        <div class="checkbox text-left">
          <input type="checkbox" value="remember-me" class=""> Remember me<br>
          <a href="#">Recuperar senha</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="right">
          <button class="btn btn-lg btn-block text-white" style="max-width:15vh;float:right;" type="submit">Login</button><!--bg-info-->

          <input type="submit" value="login">
          <input type="hidden" name="next" value="{{ next }}">

        </div>
      </div>
    </div>
  </div>
</form>


{% endblock %}
