<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title"></h2>
                <a class="close text-danger" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </a>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>