<div class="modal fade" data-backdrop="static" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title"></h2>
                <a class="close text-danger" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </a>
            </div>
            <form id="f" method="post">
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <a class="text-danger mr-3" href="" data-dismiss="modal">Cancelar</a>
                    <button type="submit" value="submit" class="btn text-white btnSubmit">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>