<script>
    $(".markerDiv").click(function () {
        if(event.srcElement.id == "noCheck"){
            return;
        }
        var $checks = $(this).find('input:checkbox[name=markerType]');
        $checks.prop("checked", !$checks.is(":checked"));
        var boxes = ($('input[name=markerType]:checked'))
        if(boxes.length > 0){
            $('.newAss').show();
        }
        else{
            $('.newAss').hide();
        }
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function(e){
        $('.search-panel .dropdown-menu').find('a').click(function(e) {
            e.preventDefault();
            var param = $(this).attr("href").replace("#","");
            var concept = $(this).text();
            $('.search-panel span#search_concept').text(concept);
            $('.input-group #search_param').val(param);
        });
    });
</script>
<script>
    function newModal(url, titulo, modal, size, id="#f"){
        $(".modal-dialog").removeClass("modal-lg");
        $(id).attr('action', url);
        $(".modal-dialog").addClass(size);
        var btn = $(this);
        var items = $("table input:checkbox:checked").map(function () {
            return $(this).attr('id');
        }).get();
        $.ajax({
            type: 'get',
            dataType:'json',
            beforeSend: function(){
                $('.modal-body').load(url);
                $('.modal-title').html(titulo);
                $(modal).modal('show');  
            },
        });
    } 
</script>
<script>
    $(document).ready(function(){
        $('#f').submit(function() {
            $.ajax({ 
                type: $(this).attr('method'), 
                url: $(this).attr('action'),
                data: $(this).serialize(),
                dataType: 'json',
                success: function() {
                    alert({{ request }});
                    window.location = '{{ request.path }}';
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    $(".errorMessage").remove();
                    $("#div_id_"+Object.keys(JSON.parse(xhr.responseText))[0]).append("<div class='errorMessage text-danger'>"+Object.values(JSON.parse(xhr.responseText))[0]+"</div>");
                }
            });
            return false; 
        });
    });
</script>
<script>
    $(document).ready(function(){
        $('#ass').submit(function() {
            $('#buttonClass').click(function() {
             var ids = $(':checkbox:checked').map(function() {
                alert(this.id);
             }).get();
             $('#res').text(JSON.stringify(ids,null,3));
            })
        });
    });
</script>