<div class="modal fade" data-backdrop="static" id="newSentence" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Nova Frase</h2>
                <a class="close text-danger" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </a>
            </div>
            <form action="{% url 'sentence_create' %}" method="post">
                <div class="modal-body">
                {% include "Activities/sentence_form.html" %}
                </div>
                <div class="modal-footer">
                    <a class="text-danger mr-3" href="" data-dismiss="modal">Cancelar</a>
                    <button type="submit" value="submit" class="btn text-white">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" data-backdrop="static" id="newVerb" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Novo Verbo</h2>
                <a class="close text-danger" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </a>
            </div>
            <form action="{% url 'verb_create' %}" method="post">
                <div class="modal-body">
                {% include "Activities/verb_form.html" %}
                </div>
                <div class="modal-footer">
                    <a class="text-danger mr-3" href="" data-dismiss="modal">Cancelar</a>
                    <button type="submit" value="submit" class="btn text-white">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" data-backdrop="static" id="newGroup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Novo Agrupamento</h2>
                <a class="close text-danger" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </a>
            </div>
            <form action="{% url 'group_create' %}" method="post">
                <div class="modal-body">
                {% include "Activities/group_form.html" %}
                </div>
                <div class="modal-footer">
                    <a class="text-danger mr-3" href="" data-dismiss="modal">Cancelar</a>
                    <button type="submit" value="submit" class="btn text-white">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" data-backdrop="static" id="newPattern" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Novo Padrão</h2>
                <a class="close text-danger" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </a>
            </div>
            <form action="{% url 'pattern_create' %}" method="post">
                <div class="modal-body">
                {% include "Activities/pattern_form.html" %}
                </div>
                <div class="modal-footer">
                    <a class="text-danger mr-3" href="" data-dismiss="modal">Cancelar</a>
                    <button type="submit" value="submit" class="btn text-white">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>