	
			<li>
				<a href="#"><i class="material-icons">keyboard_arrow_right</i> Agrupamentos</a>
			</li>	
<li>
    <a href="#"><i class="material-icons">keyboard_arrow_right</i> Padrões</a>
</li>
<li>
    <a href="/processos"><i class="material-icons">keyboard_arrow_right</i> Processos</a>
</li>
    <li>
        <a href="/actividades"><i class="material-icons">keyboard_arrow_right</i> Atividades</a>
    </li>
    <li>
        <a href="/papeis"><i class="material-icons">keyboard_arrow_right</i> Papéis</a>
    </li>
    <li>
        <a href="/produtos"><i class="material-icons">keyboard_arrow_right</i> Produtos</a>
	</li>
	
	