<div class="container">
    <div class="row">
        <div class="col-7">
            <h4>Detalhes do Recurso</h4>
            <hr />
            <h6 class="mt-4">Recurso:</h6>
            <p>{{object.resourcename}}</p>
        </div>
        <div class="col-5">
            <h4>Detalhes de Criação</h4>
            <hr />
            <h6 class="mt-4">Autor:</h6>
            <p>{{object.userid}}</p>
            <h6 class="mt-4">Data de criação:</h6>
            <p>{{object.datecreated}}</p>
        </div>
    </div> 
</div>