<div class="container">
    <div class="row">
        <div class="col-7">
            <h4>Detalhes do Verbo</h4>
            <hr />
            <h6 class="mt-4">Verbo:</h6>
            <p>{{object.verbname}}</p>
            <h6 class="mt-4">Tipo:</h6>
            <p>{{object.verbtype}}</p>
        </div>
        <div class="col-5">
            <h4>Detalhes de Criação</h4>
            <hr />
            <h6 class="mt-4">Autor:</h6>
            <p>{{object.userid}}</p>
            <h6 class="mt-4">Data de criação:</h6>
            <p>{{object.datecreated}}</p>
        </div>
    </div> 
</div>
