<h1>Geral</h1>
<input name="name" type="text" placeholder="name...">
<input name="date_initial" type="date" placeholder="...">
<input name="date_final" type="date" placeholder="...">
<h1>Frases</h1>
<input name="frase_verbo" type="text" placeholder="Verbos">
<input name="frase_sujeito" type="text" placeholder="Sujeito">
<input name="frase_receptor" type="text" placeholder="Receptor">
<h1>Verbos</h1>
<input name="verbo_tipo" type="text" placeholder="Tipo">
<h1>Agrupamentos</h1>
<input name="group_frases" type="text" placeholder="Frases">
<h1>Padroes</h1>
<input name="pattern_groups" type="text" placeholder="Agrupamentos">
