{% extends "processes/loginh.html" %}

{% block navbar %}
	<body>

		<div class="container text-center">
		<form class="form-signin" method="POST" action="{% url 'Users:login' %}">
			{% csrf_token %}
			{% for message in messages %}
			<div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
					<div class="toast-header">
					</div>
					<div class="toast-body">
							{% if message.tags == "error" %}<p class="alert alert-danger" role="alert">{{message}}<p>
							{% endif %}  
					</div>
				  </div>
		{% endfor %}
			<h2>LOGIN</h2><br>
			<input type="text" name="username" autofocus="" required="" id="id_username">
			<p class="nameErr text-danger text-left"></p>
		<input type="password" name="password" required="" id="id_password">
		<br><br>



						<div class="right">
							<button class="btn btn-lg btn-block text-white" type="submit">Login</button><!--bg-info-->
						</div>
		</form>
	</div>


{% endblock %}