{% extends "main/navbar.html" %}
{% block content %}
				{% if perms.Users.test_GProc or  perms.Users.test_Analist %}
				<div class="container-fluid" style=" margin-top:-25px;">
						<div class="row">
							<div class="navegation">
								<a href='{% url "home" %}'><i class="material-icons">home</i></a>
								<i class="material-icons" style="position:relative; top:5px;">keyboard_arrow_right</i>
								<b><span class="text-dark" id="path">Produtos</span></b>
							</div>
		<br><br>
				<div class="container">
				    {% include "processes/includes/messages.html" %}
					<table class="table table-hover header-fixed">
						<thead>
							<tr class="d-flex">
								<th class="col-9">PRODUTOS</th>
								<th class="col-3 text-right">
									<a class="dropdown-toggle" id="sidebarCollapse" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span>Mais recente</span><i class="material-icons">arrow_drop_down</i></a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">Mais antigo</a>
										<a class="dropdown-item" href="#">Nome <i class="material-icons">arrow_downward</i></a>
										<a class="dropdown-item" href="#">Nome <i class="material-icons">arrow_upward</i></a>
									</div>
								</th>
							</tr>
						
									<tr class="d-flex nobluebar">
										<td class="col-9"><b><a href="/produtos/ProductCreate" class="novo"><i class="material-icons">add</i> Novo Produto</a></b></td>
										<td class="col-3 text-right"></td>
									</tr>
									{% if prods|length > 0 %}
							<tr class="d-flex nobluebar">
									<td class="col-3"><b>Produto:</b> </td>
									<td class="col-3"><b>Formato: </b></td>
								</tr>
								{% endif %}
						</thead>
						<tbody class="proctable"> 
								{% for prod in prods %}
								<tr class="d-flex">
								
										<td class="col-3"><a href="/produtos/ProductDetail/{{prod.id}}">{{prod.product_name}} </a></td>
										<td class="col-3">{{prod.product_format}}</td>
											<td class="col-6 text-right"><a href="/produtos/ProductUpdate/{{prod.id}} "><i class="material-icons">create</i></a>
												<a href="/produtos/ProductDelete/{{prod.id}} "><i class="material-icons text-danger">clear</i></a>
											</td>
									
									{% endfor %}
								</tr>
						</tbody>
					</table>
				
            </div>
		</div>
		{% else %}
		<h2>Não tem permissão para visualizar esta página.</h2>
		{% endif %}	
		{% endblock %}