



{% extends "main/navbar.html" %}
{% block content %}
{% if perms.Users.test_GProc or perms.Users.test_Analist  %} 
<div class="container">
        <form method="post">{% csrf_token %}
     

  <p>Tem a certeza que pretende eliminar a Actividade <b>"{{ object.activity_name}}</b>"?</p>          
  <a class ="text-danger mr-3"href="/actividades">Cancelar</a>
  <button type="submit" class="btn text-white">Eliminar</button>
  {% else %}
  <a class ="text-danger mr-3"href="/actividades">Cancelar</a>
  {% endif %}
</form>
</div>
{% endblock %}