{% extends "main/navbar.html" %}
{% block content %}
{% if perms.Users.test_GProc or perms.Users.test_Analist  %}
<div class="container">
        <h3>Produto:&nbsp; {{object}} </h3><br>
        <h3>Formato:&nbsp;{{object.product_format}}</h3><br>       
      <hr>
        <p><a href="/produtos/ProductUpdate/{{object.id}}"><button type="button" class="btn text-white"> Editar produto</a></button></p>
        <br>
<div class = "row">
  <div class = "col-sm-6"> <h3>Actividades base associadas ao produto:</h3></div>
  <div class = "col-sm-6"> <h3>Actividades não associadas:</h3></div>
      </div>
        <hr>
        <div class ="row">
            <div class = "col-sm-6 colseparator" >
        {% for act in acts %}
        <div class="row">
        <div class="col-sm-5"><a href="/actividades/ActivityDetail/{{act.id}}">{{act}}</a></div>
        <div class="col-sm-7 text-right"><a data-toggle="modal" onclick='newModal("{% url "processes:ViewActivity" act.id %}", "Ver Actividade", "#Viewmodal", "")' href=''><i class="material-icons">search</i>&nbsp;</a>
        <a href="/produtos/ProductDessociate/{{object.id}}/{{act.id}}"><i class="material-icons text-danger">clear</i>&nbsp;</a></div>
        </div>
        {% endfor %}</div>
        <div class = "col-sm-6" >
            {% for act in non_acts %}
            <div class="row">
            <div class="col-sm-5"><a href="/actividades/ActivityDetail/{{act.id}}">{{act}}</a></div>
            <div class="col-sm-7 text-right"><a data-toggle="modal" onclick='newModal("{% url "processes:ViewActivity" act.id %}", "Ver Actividade", "#Viewmodal", "")' href=''><i class="material-icons">search</i>&nbsp;</a>
            <a href="/produtos/ProductAssociate/{{object.id}}/{{act.id}}"><i class="material-icons text-success">add</i>&nbsp;</a></div>
            </div>
            {% endfor %}</div>
          
      </div>
        <hr>
        <br>
{% if proc_acts|length > 0 or non_proc_acts|length > 0 %}
        <div class = "row">
            <div class = "col-sm-6"> <h3>Actividade-Processo associadas ao produto:</h3></div>
            <div class = "col-sm-6"> <h3>Actividades não associadas:</h3></div>
                </div>
                  <hr>
                  <div class ="row">
                      <div class = "col-sm-6 colseparator" >
                  {% for act in proc_acts %}
                  <div class="row">
                  <div class="col-sm-5"><a href="/actividades/ActivityDetail/{{act.id}}">{{act}}</a></div>
                  <div class="col-sm-7 text-right"><a data-toggle="modal" onclick='newModal("{% url "processes:ViewActivity" act.id %}", "Ver Actividade", "#Viewmodal", "")' href=''><i class="material-icons">search</i>&nbsp;</a>
                  <a href="/produtos/ProductDessociate/{{object.id}}/{{act.id}}"><i class="material-icons text-danger">clear</i>&nbsp;</a></div>
                  </div>
                  {% endfor %}</div>
                  <div class = "col-sm-6" >
                      {% for act in non_proc_acts %}
                      <div class="row">
                      <div class="col-sm-5"><a href="/actividades/ActivityDetail/{{act.id}}">{{act}}</a></div>
                      <div class="col-sm-7 text-right"><a data-toggle="modal" onclick='newModal("{% url "processes:ViewActivity" act.id %}", "Ver Actividade", "#Viewmodal", "")' href=''><i class="material-icons">search</i>&nbsp;</a>
                      <a href="/produtos/ProductAssociate/{{object.id}}/{{act.id}}"><i class="material-icons text-success">add</i>&nbsp;</a></div>
                      </div>
                      {% endfor %}</div>
                    
                </div>
{% endif %}
       
          
      </div>
      <hr>
      <br>
      {% else %}
      <h2>Não tem permissão para visualizar esta página.</h2>
      {% endif %}
        {% endblock %}