{% extends "main/navbar.html" %}
{% block content %}
{% if perms.Users.test_GProc or perms.Users.test_Analist  %}
<div class="container">
        <h3>Papel: {{object}} </h3>
        <hr>
          <div class="row">
            <div class="col-sm-2"> Descrição:</div>
            <div class="col-sm-4">{{object.description}}</div>
        </div>
      <hr>
      {% if perms.Users.test_GProc %}
        <p><a href="/papeis/RoleUpdate/{{object.id}}"><button type="button" class="btn text-white">Editar papel</button></a></p>
      {% endif %}  <br>
<div class = "row">
  
  <div class = "col-sm-6"> <h3>Actividades base associadas ao papel:</h3></div>
  <div class = "col-sm-6"> <h3>Actividades não associadas:</h3></div>
      </div>
        <hr>
        <div class ="row">
        <div class = "col-sm-6  colseparator" >
        {% for act in acts %}
        <div class="row">
        <div class="col-sm-5"><a href="/actividades/ActivityDetail/{{act.id}}">{{act}}</a></div>
        <div class="col-sm-7 text-right"><a data-toggle="modal" onclick='newModal("{% url "processes:ViewActivity" act.id %}", "Ver Actividade", "#Viewmodal", "")' href=''><i class="material-icons">search</i>&nbsp;</a>
          {% if perms.Users.test_GProc %} <a href="/actividades/RoleDessociate/{{act.id}}/{{object.id}}"><i class="material-icons text-danger">clear</i>&nbsp;</a>{% endif %}</div>
        </div>
        
        {% endfor %}</div>
        <div class = "col-sm-6">
            {% for act in non_acts %}
            <div class="row">
              <div class="col-sm-5"><a href="/actividades/ActivityDetail/{{act.id}}">{{act}}</a></div>
              <div class="col-sm-7 text-right"><a data-toggle="modal" onclick='newModal("{% url "processes:ViewActivity" act.id %}", "Ver Actividade", "#Viewmodal", "")' href=''><i class="material-icons">search</i>&nbsp;</a>
                {% if perms.Users.test_GProc %} <a href="/actividades/RoleAssociate/{{act.id}}/{{object.id}}"><i class="material-icons text-success">add</i>&nbsp;</a>{% endif %}</div>    </div>
            {% endfor %}</div></div>
        <hr>
        <br>


        {% if proc_acts|length > 0 or non_proc_acts|length > 0 %}
        <div class = "row">
  
            <div class = "col-sm-6"> <h3>Actividades de Processos associadas ao papel:</h3></div>
            <div class = "col-sm-6"> <h3>Actividades não associadas:</h3></div>
                </div>
                  <hr>
                  <div class ="row">
                  <div class = "col-sm-6  colseparator" >
                  {% for act in proc_acts %}
                  <div class="row">
                  <div class="col-sm-5"><a href="/actividades/ActivityDetail/{{act.id}}">{{act}}</a></div>
                  <div class="col-sm-7 text-right"><a data-toggle="modal" onclick='newModal("{% url "processes:ViewActivity" act.id %}", "Ver Actividade", "#Viewmodal", "")' href=''><i class="material-icons">search</i>&nbsp;</a>
                    {% if perms.Users.test_GProc %}<a href="/actividades/RoleDessociate/{{act.id}}/{{object.id}}"><i class="material-icons text-danger">clear</i>&nbsp;</a>{% endif %}</div>
                  </div>
                  {% endfor %}</div>
                  <div class = "col-sm-6">
                      {% for act in non_proc_acts %}
                      <div class="row">
                        <div class="col-sm-5"><a href="/actividades/ActivityDetail/{{act.id}}">{{act}}</a></div>
                        <div class="col-sm-7 text-right"><a data-toggle="modal" onclick='newModal("{% url "processes:ViewActivity" act.id %}", "Ver Actividade", "#Viewmodal", "")' href=''><i class="material-icons">search</i>&nbsp;</a>
                          {% if perms.Users.test_GProc %}<a href="/actividades/RoleAssociate/{{act.id}}/{{object.id}}"><i class="material-icons text-success">add</i>&nbsp;</a>{% endif %}</div>    </div>
                      {% endfor %}</div></div>
{% endif %}
        {% else %}
        <h2>Não tem permissão para visualizar esta página.</h2>
        {% endif %}
        {% endblock %}